.direnv/
*.bbl
*.pdf
*.ptc
*.synctex.gz
.vscode
%OUTDIR%/
main.aux
main.blg
main.fdb_latexmk
main.fls
main.lof
main.log
main.lot
main.out
main.toc
main.synctex
main.synctex(busy)
main.atfi
attachments/
main.bcf
main.run.xml